Cython>=0.25
h5py>=2.3
matplotlib>=1.0
numpy>=1.15,<1.16
pandas>=0.12
scipy>=0.18
scikit-image
scikit-learn
seaborn>=0.7
spacy>=2.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
tqdm

pillow>=7.1.0 # not directly required, pinned by Snyk to avoid a vulnerability